# NFL Stating out

In [120]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

## Download the URL Page Content

In [268]:
url = 'https://www.pro-football-reference.com/teams/mia/2019.htm'

r = requests.get(url)
html = r.text
soup = BeautifulSoup(html)

## Getting Test Table: Total Team Stats

#### Table Headers

In [379]:
data = (soup.find('div', {'id':'all_team_stats'})
        .find('table',{'class':'sortable stats_table'})
        .find('thead')
        .find_all('th')
       )
name = []
overheader = []
colspan = []
for i in range(0,len(data)):
    name.append(data[i].get_text())
    overheader.append(data[i].get_attribute_list('class')[0])
    colspan.append(data[i].get_attribute_list('colspan')[0])
Headers = pd.DataFrame({
    'name':name, 
    'class':overheader, 
    'colspan':colspan    
})
Headers = Headers[Headers['class'] == 'poptip'][['name']]
Headers.head()

      name
11  Player
12      PF
13     Yds
14     Ply
15     Y/P

#### Table Content

In [436]:
TableRows = (soup.find('div', {'id':'all_team_stats'})
        .find('table',{'class':'sortable stats_table'})
        .find('tbody')
        .find_all('tr')
       )

TableColumn_Name = []
TableColumn_Value = []
TableColumn_Name.append(TableRows[0].find_all('th')[0].get_attribute_list('data-stat')[0])
for j in range(0,len(TableRows)):
    TableColumn_Value.append(TableRows[j].find_all('th')[0].get_text())

    TableColumns = TableRows[j].find_all('td')
    #TableColumn_Name.append(TableColumns[0].get_attribute_list('data-stat')[0])
    
    list = []
    for i in range(0,len(TableColumns)):
        
        list.append(TableColumns[i].get_text())
    TableColumn_Value.append(list)
    
print(TableColumn_Name, TableColumn_Value)

['player', 'points', 'player', 'points', 'player', 'points', 'player', 'points'] ['Team Stats', ['306', '4960', '1022', '4.9', '26', '8', '315', '371', '615', '3804', '22', '18', '5.7', '210', '349', '1156', '10', '3.3', '64', '92', '769', '41', '180', '30.6', '13.3', 'Own 27.6', '2:33', '5.78', '27.1', '1.63'], 'Opp. Stats', ['494', '6364', '1053', '6.0', '16', '3', '361', '344', '545', '4198', '39', '13', '7.4', '214', '485', '2166', '15', '4.5', '113', '111', '1084', '34', '182', '45.6', '8.8', 'Own 30.2', '2:46', '5.9', '34.3', '2.53'], 'Lg Rank Offense', ['25', '27', '', '', '25', '11', '18', '', '7', '12', '19', '27', '26', '', '32', '32', '24', '31', '', '', '', '', '', '26', '9', '23', '22', '19', '29', '25'], 'Lg Rank Defense', ['32', '30', '', '', '28', '31', '30', '', '14', '26', '32', '12', '32', '', '30', '27', '21', '22', '', '', '', '', '', '1', '28', '28', '20', '20', '26', '32']]

In [445]:
TableRows[j].find_all('th')[0].get_attribute_list('data-stat')[0]

'player'

In [437]:
df = pd.DataFrame({'columns':TableColumn_Name, 'rows':TableColumn_Value})
df

  columns                                               rows
0  player                                         Team Stats
1  points  [306, 4960, 1022, 4.9, 26, 8, 315, 371, 615, 3...
2  player                                         Opp. Stats
3  points  [494, 6364, 1053, 6.0, 16, 3, 361, 344, 545, 4...
4  player                                    Lg Rank Offense
5  points  [25, 27, , , 25, 11, 18, , 7, 12, 19, 27, 26, ...
6  player                                    Lg Rank Defense
7  points  [32, 30, , , 28, 31, 30, , 14, 26, 32, 12, 32,...

In [348]:
data[3].get_attribute_list('class')

['over_header', 'center']

In [330]:
data = (soup.find('div', {'id':'all_team_stats'})
        .find('table',{'class':'sortable stats_table'})
        .find('thead')
        .find('tr', {'class':'over_header'})
        .find_all('th')
       )
data

[<th></th>,
 <th></th>,
 <th></th>,
 <th aria-label="" class="over_header center" colspan="3" data-stat="header_tot_off_tgl">Tot Yds &amp; TO</th>,
 <th></th>,
 <th></th>,
 <th aria-label="" class="over_header center" colspan="7" data-stat="header_pass">Passing</th>,
 <th aria-label="" class="over_header center" colspan="5" data-stat="header_rush">Rushing</th>,
 <th aria-label="" class="over_header center" colspan="3" data-stat="header_penalties">Penalties</th>,
 <th aria-label="" class="over_header center" colspan="3" data-stat=""></th>,
 <th aria-label="" class="over_header center" colspan="5" data-stat="averages">Average Drive</th>]

In [283]:
soup[1]

KeyError: 1

bs4.element.Tag

In [181]:
soup = soup.find('table', {'class':'sortable stats_table'})
rows = soup.find_all('tr')
#print(soup)

In [182]:
data = []
for row in rows[1:]:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
df = pd.DataFrame(data)
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [183]:
soup.find_all?

Signature:
soup.find_all(
    name=None,
    attrs={},
    recursive=True,
    text=None,
    limit=None,
    **kwargs,
)
Docstring:
Look in the children of this PageElement and find all
PageElements that match the given criteria.

All find_* methods take a common set of arguments. See the online
documentation for detailed explanations.

:param name: A filter on tag name.
:param attrs: A dictionary of filters on attribute values.
:param recursive: If this is True, find_all() will perform a
    recursive search of this PageElement's children. Otherwise,
    only the direct children will be considered.
:param limit: Stop looking after finding this many results.
:kwargs: A dictionary of filters on attribute values.
:return: A ResultSet of PageElements.
:rtype: bs4.element.ResultSet
File:      d:\anaconda\lib\site-packages\bs4\element.py
Type:      method

In [ ]:
table = soup.find('table', {"class": "sortable stats_table"})
rows = table.find_all('tr')

In [124]:
data = []
for row in rows[1:]:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,306,4960,1022,4.9,26,8,315,371,615,3804,...,769,41,180,30.6,13.3,Own 27.6,2:33,5.78,27.1,1.63
2,494,6364,1053,6.0,16,3,361,344,545,4198,...,1084,34,182,45.6,8.8,Own 30.2,2:46,5.9,34.3,2.53
3,25,27,25,11,18,7,12,19,27,26,...,25,None,None,None,None,None,None,None,None,None
4,32,30,28,31,30,14,26,32,12,32,...,32,None,None,None,None,None,None,None,None,None